<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to Event Management</h1>
      </header>

      <div class="hero-img">
        <img src="images/event-management-bg.jpg" alt="" />
      </div>

      <section>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
          autem quod fugiat non dolores iste maxime quisquam, magni doloribus
          esse ullam quibusdam rem magnam nisi eos omnis numquam quae repellat?
          Reiciendis pariatur asperiores quaerat doloribus itaque
          exercitationem, expedita tempora nulla mollitia cupiditate error
          maxime voluptates quia praesentium numquam quas possimus!
        </p>
      </section>
      <div class="image-sec flex">
        <div class="image-box">
          <img src="images/4.jpg" alt="1" />
        </div>

        <div class="image-box">
          <img src="images/1.jpg" alt="2" />
        </div>

        <div class="image-box">
          <img src="images/2.jpg" alt="2" />
        </div>
      </div>
      <div class="addEvent">
        <a href="/events"><button>Go to Events list</button></a>
      </div>
    </div>
  </body>
</html>
